@font-face {
  font-family: "Assistant";
  src: local("Assistant"),
    url(./assets/fonts/Assistant-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-weight: 600;
  src: local("Assistant"),
    url(./assets/fonts/Assistant-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant";
  font-weight: 700;
  src: local("Assistant"),
    url(./assets/fonts/Assistant-Bold.ttf) format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393b;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  width: 100%;
  height: 100%;
  font-family: "Assistant", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
